@import "tailwindcss";


.heading h1, h2, h3, h4 {
  font-family: var(--font-bangers);
}

body{
  font-family: var(--font-poppins);
  overflow-x: hidden;
  background: black;
  color: white;

}

.glow{
  filter: drop-shadow(0 0 3px rgba(255, 251, 26, 0.8));
}

/* Prevent GSAP overlay flash on initial load */
.menu-overlay-hidden {
  transform: translateY(100%) scale(0.6);
  border-radius: 50%;
  /* pointer-events: none; */
}



