@import "tailwindcss";


.heading h1, h2, h3, h4 {
  font-family: var(--font-bangers);
}

body{
  font-family: var(--font-poppins);
}

.glow{
  filter: drop-shadow(0 0 3px rgba(255, 251, 26, 0.8));
}

